@model Group 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1 class="my-4">Информация о группе</h1>
    <h2><small>Ознакомьтесь с информацией, она поможет решить подходит ли вам эта группа</small></h2>

    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" width="90%" height="225" alt="Card image cap"/>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Title</h3>
            <p>@Model.Description</p>
            <h3 class="my-3"Место нахождения:></h3>
            <ul>
                <li>@Model.GroupCategory</li>
                <li>@Model.Adress.Country</li>
                <li>@Model.Adress.Region</li>
                <li>@Model.Adress.City</li>
                <li>@Model.Adress.Street</li>
            </ul>
        </div>
        
    </div>

    <h3 class="my-4">Рекомендованные группы</h3>

    <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="" alt=""/>
            </a>
        </div>
         <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
            <img class="img-fluid" src="" alt=""/>
            </a>
        </div>
    </div>
    
</div>